body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    margin-top: 3vh;
}

td {
    border: 1px solid black;
    padding: 13px;
    background-color: rgb(52, 67, 80);
}

.start-button-container {
    margin-top: 3vh;
}

.start-button {
    padding: 10px 30px;
    border-radius: 10px;
}

.start-button:hover {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.snake {
    background-color: #6b6;
}

.food {
    background-color: #cc0;
}
